#wraper{
	@include blckN(100%);
}

.i-bolock{
	@include blckN(100%);
	padding:0px;
}

.i-blockContent{
	@include i-blockContent;
}

.b-header{
	height:529px;	
}

.b-header_top{
	height:45px;
	margin-top:15px;
	background-color:$colorRed;

	.nav{width:100%;}
	
.b-header_top_menu_left_logo{
	width:122px;
	height:44px !important;

	img{margin-top:0px; margin-left:0px;}
	}
	.top-bar-right ul li a{
		font-size: 15px;
  	font-family: 'PT Sans', sans-serif;
  	color: rgb( 255, 255, 255 );
	}

	.divider{
		width: 2px;
  	height: 45px;
  	background-image: url('../../i/li-separator.png');
		background-repeat: no-repeat;
  	background-size: 100% 100%;
	}
}
.top-bar{height:44px ;}