/*-----------------------------*\
			Declaration general
\*-----------------------------*/
*{width:auto;}
$colorRed :#ca3034;

@mixin blckN($large){
	width:$large;
	position:relative;
	overflow:hidden;
}

@mixin i-blockContent{
	width:1000px !important;
	margin:auto;
	padding:0px 10px;
}

@mixin btn{
	width: 205px;
  height: 41px;
	border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(170,40,44) 0%, rgb(201,48,52) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(170,40,44) 0%, rgb(201,48,52) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(170,40,44) 0%, rgb(201,48,52) 100%);
  cursor:pointer;
  line-height:41px;
  text-align:center;
  font-size: 15px;
  font-weith:100;
  font-family: 'PT Sans', sans-serif;
  color: rgb( 255, 255, 255 );
}
.left{float:left;}
.right{float:right;}
.red{
	//border:solid 1px red;
}
.green{
	//border:solid 1px green;
}
/*-----------------------------*\
			Declaration elements
\*-----------------------------*/

@import 'header';
@import 'first';
@import 'page';
@import 'second';
@import 'adaptation';






