/*-----------------------------*\
			Declaration general
\*-----------------------------*/
* {
  width: auto; }

.left {
  float: left; }

.right {
  float: right; }

.red {
  border: solid 1px red; }

/*-----------------------------*\
			Declaration elements
\*-----------------------------*/
#wraper {
  width: 100%;
  position: relative;
  overflow: hidden; }

.block {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: solid 1px green; }

.blockContent {
  width: 1000px !important;
  margin: auto;
  padding: 0px 10px; }

.header {
  height: 529px; }

.header_top {
  height: 45px;
  margin-top: 15px;
  background-color: #ca3034; }
  .header_top .nav {
    width: 100%; }
  .header_top .logo {
    width: 122px;
    height: 44px !important; }
    .header_top .logo img {
      margin-top: -5px;
      margin-left: -16px; }
  .header_top .top-bar-right ul li a {
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    color: white; }
  .header_top .divider {
    width: 2px;
    height: 45px;
    background-image: url("../../i/li-separator.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.top-bar {
  height: 44px; }

.first {
  height: 483px;
  background-image: url("../../i/bgHeader2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .first .first-content {
    width: 1080px;
    height: 100%;
    margin: auto;
    background-image: url("../../i/bgHeaderImg.png");
    background-repeat: no-repeat;
    background-position: 99% 27px; }
  .first .blockContent h3 {
    font-size: 44px;
    color: #364355;
    line-height: 1.136;
    font-family: 'PT Sans', sans-serif;
    margin-top: 95px; }
  .first .blockContent p {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #364355;
    line-height: 1.455;
    margin-top: 50px; }

.page {
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 3px 0px black; }
  .page .group-img {
    position: relative;
    text-align: center;
    margin-top: 33px; }
    .page .group-img .group-img_bg {
      width: 75%;
      height: 100px;
      margin-left: 12.5%;
      position: absolute; }
      .page .group-img .group-img_bg .group-img_bg_elem {
        height: 100px;
        background-image: url("../../i/trai.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 5px; }
  .page .group-img span {
    display: block;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    color: #364355;
    line-height: 1.6;
    text-align: center;
    margin-top: 30px; }
  .page .page_button {
    width: 205px;
    height: 41px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(90deg, #aa282c 0%, #c93034 100%);
    background-image: -webkit-linear-gradient(90deg, #aa282c 0%, #c93034 100%);
    background-image: -ms-linear-gradient(90deg, #aa282c 0%, #c93034 100%);
    cursor: pointer;
    line-height: 41px;
    text-align: center;
    font-size: 15px;
    font-weith: 100;
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin: 45px auto; }
  .page .blockContent h5 {
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    color: #364355;
    line-height: 1;
    margin-top: 50px !important; }

.second {
  height: 525px;
  position: relative; }
  .second .second_bg_left, .second .second_bg_right {
    width: 280px;
    height: 100%;
    float: left;
    background-image: url("../../i/second_bg_left.png");
    background-repeat: no-repeat;
    background-size: 68% 89%;
    background-position: 0px 58px; }
  .second .second_bg_right {
    width: 450px;
    float: right;
    background-image: url("../../i/second_bg_right.png");
    background-repeat: no-repeat;
    background-size: 30% 89%;
    background-position: 100% 0px; }
  .second .second_G_content {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 100;
    position: absolute;
    overflow: hidden;
    background-image: url("../../i/second_bg_content.png");
    background-repeat: no-repeat;
    background-size: 52% 105%;
    background-position: 120px 100%; }
    .second .second_G_content .blockContent {
      position: relative;
      overflow: hidden; }
    .second .second_G_content .minBlock {
      width: 100%;
      min-height: 45px;
      text-align: right;
      position: relative;
      overflow: hidden; }
  .second .rectangle {
    width: 100px;
    height: 27px;
    margin-top: 50px;
    float: right;
    background-image: url("../../i/bg_rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .second .second_right h4 {
    width: 270px;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    color: #364355;
    text-align: right;
    line-height: 1.455; }
  .second .second_right h4 span {
    font-size: 28px;
    color: #ca3034;
    font-weight: bold; }
  .second .second_right p {
    margin-top: 60px;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #364355;
    line-height: 1.455; }
  .second .second_button {
    width: 205px;
    height: 41px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(90deg, #aa282c 0%, #c93034 100%);
    background-image: -webkit-linear-gradient(90deg, #aa282c 0%, #c93034 100%);
    background-image: -ms-linear-gradient(90deg, #aa282c 0%, #c93034 100%);
    cursor: pointer;
    line-height: 41px;
    text-align: center;
    font-size: 15px;
    font-weith: 100;
    font-family: 'PT Sans', sans-serif;
    color: white;
    position: absolute;
    right: 0px !important;
    bottom: 5px !important;
    width: 143px;
    height: 41px; }
  .second .minBlock3 {
    margin-top: 40px !important; }

.menu {
  width: 100%;
  position: relative;
  overflow: hidden; }

@media (max-width: 1000px) {
  .blockContent, .first-content {
    width: 100% !important; }

  .first-content {
    background-size: 50% 64%; }

  .header {
    height: 390px; }

  .second_right h4 {
    margin: auto !important; }

  .second_G_content, .group-img_bg_elem {
    background-image: none !important; }

  .second_bg_left, .second .second_bg_right, .second_bg_right {
    display: none; }

  .second {
    height: 355px;
    background-color: #f4f4f4; } }
@media (max-width: 870px) {
  .group-img_bg_elem {
    background-size: 40% 5px !important; } }
@media (max-width: 780px) {
  .blockContent h3 {
    font-size: 34px !important; }

  .blockContent p {
    font-size: 15px !important; }

  .group-img_bg_elem {
    background-size: 34% 5px !important; } }
@media (max-width: 639px) {
  .header {
    max-height: 280px !important; }

  .header_top {
    background-color: black; }

  .top-bar, .top-bar ul {
    background-color: #424242; }

  .top-bar ul .logo {
    display: none; }

  .blockContent h3 {
    margin-top: 12px !important;
    text-align: center; }

  .blockContent p {
    margin-top: 8px !important;
    text-align: center; }

  .first-content {
    background-image: none !important; }

  .second_G_content, .group-img_bg_elem {
    background-image: none !important; }

  .second_bg_left, .second .second_bg_right, .second_bg_right {
    display: none; }

  .second_right h4 {
    width: 100% !important;
    font-size: 20px;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
